.container{
    
    text-align: center;
    height: 100vh;
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "bienvenidos bienvenidos bienvenidos servicio1 servicio1 servicio1"
    "servicio2 servicio2 servicio3 servicio3 servicio4 servicio4";
}

.bienvenidos{
    grid-area: bienvenidos;
    
}

.servicio1{
    grid-area: servicio1;
}

.servicio2{
    grid-area: servicio2;
    
}

.servicio3{
    grid-area: servicio3;
    
}

.servicio4{
    grid-area: servicio4;
    
}